<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.ibm.socialcrm.notesintegration.SFAPerspectiveFactoryAdvisor" name="SFAPerspectiveFactoryAdvisor" schema="schema/com.ibm.socialcrm.notesintegration.SFAPerspectiveFactoryAdvisor.exsd"/>
 
   <extension
        id="SFAContextMenus"
        point="org.eclipse.ui.popupMenus">
    <objectContribution
          id="com.ibm.socialcrm.notesintegration.opportunityPopup"
          objectClass="com.ibm.rcp.content.IDocumentContent">
       <action
             class="com.ibm.socialcrm.notesintegration.ui.actions.OpportunityAction"
             enablesFor="*"
             icon="icons/lotusLive.png"
             id="com.ibm.socialcrm.sidebar.widgetactions.opportunityAction"
             label="%opportunityActions">
       </action>
       <visibility>
          <and>
             <objectState name="content.type" value="SugarOpportunityType" />
             <objectState name="contents" value="*" />
          </and>
       </visibility>
    </objectContribution>
  </extension>
  
  <extension
        id="SFAContextMenus"
        point="org.eclipse.ui.popupMenus">
    <objectContribution
          id="com.ibm.socialcrm.notesintegration.contactsPopup"
          objectClass="com.ibm.rcp.content.IDocumentContent">
       <action
             class="com.ibm.socialcrm.notesintegration.ui.actions.ContactAction"
             enablesFor="*"
             icon="icons/lotusLive.png"
             id="com.ibm.socialcrm.sidebar.widgetactions.contactAction"
             label="%contactActions">
       </action>
       <visibility>
          <and>
             <objectState name="content.type" value="SugarContactType" />
             <objectState name="contents" value="*" />
          </and>
       </visibility>
    </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="com.ibm.socialcrm.notesintegration.accountPopUp"
           objectClass="com.ibm.rcp.content.IDocumentContent">
        <action
              class="com.ibm.socialcrm.notesintegration.ui.actions.AccountAction"
              enablesFor="*"
              icon="icons/lotusLive.png"
              id="com.ibm.socialcrm.sidebar.widgetactions.accountAction"
              label="%accountActions">
        </action>
        <visibility>
           <and>
              <objectState
                    name="content.type"
                    value="SugarAccountType">
              </objectState>
              <objectState
                    name="contents"
                    value="*">
              </objectState>
           </and>
        </visibility>
     </objectContribution>
  </extension>
  <extension
        id="SFAContextMenus"
        point="org.eclipse.ui.popupMenus">
    <objectContribution
          id="com.ibm.socialcrm.notesintegration.searchContactPopup"
          objectClass="com.ibm.rcp.content.IDocumentContent">
       <action
             class="com.ibm.socialcrm.notesintegration.ui.actions.SearchContactAction"
             enablesFor="*"
             icon="icons/lotusLive.png"
             id="com.ibm.socialcrm.sidebar.widgetactions.contactByName"
             label="%contactActionsSearch">
       </action>
       <visibility>
          <and>
             <objectState name="content.type" value="content.person" />
             <objectState
                   name="contents"
                   value="*">
             </objectState>
          </and>
       </visibility>
    </objectContribution>
  </extension>
  
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="com.ibm.socialcrm.notesintegration.ui.mailSelectionActionSet"
           label="Mail Selection Action Set"
           visible="true">
        <action
              class="com.ibm.socialcrm.notesintegration.ui.actions.MailDocumentSelectionAction"
              id="com.ibm.socialcrm.notesintegration.ui.MailDocumentSelectionAction"
              label="Mail document selection action"
              style="push">
        </action>
     </actionSet>
  </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="com.ibm.socialcrm.notesintegration.ui.preferences.PreferencePage"
           id="com.ibm.socialcrm.notesintegration.ui.preferencePage"
           name="%preferencesPageHeader">
     </page>
  </extension>
  <extension
        id="com.ibm.sfa.opportunityInfoDashboardContribution"
        name="Opportunity Info"
        point="com.ibm.socialcrm.notesintegration.core.sugarDashboardContribution">
     <dashboardContribution
           displayName="%opptyTitle"
           dockedDisplayName="%opptyTitle"
           viewClass="com.ibm.socialcrm.notesintegration.ui.dashboardcomposites.OpportunitiesDashboardComposite"
           weight="10">
        <types>
           <type
                 sugarType="OPPORTUNITIES">
           </type>
        </types>
     </dashboardContribution>
  </extension>
  <extension
        id="com.ibm.sfa.accountInfoDashboardContribution"
        name="Account Info"
        point="com.ibm.socialcrm.notesintegration.core.sugarDashboardContribution">
     <dashboardContribution
           displayName="%accountTitle"
           dockedDisplayName="%accountTitle"
           viewClass="com.ibm.socialcrm.notesintegration.ui.dashboardcomposites.AccountsDashboardComposite"
           weight="20">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
     </dashboardContribution>
  </extension>
  <extension
        id="com.ibm.sfa.contactInfoDashboardContribution"
        name="Contact Info"
        point="com.ibm.socialcrm.notesintegration.core.sugarDashboardContribution">
     <dashboardContribution
           displayName="%contactTitle"
           dockedDisplayName="%contactTitle"
           viewClass="com.ibm.socialcrm.notesintegration.ui.dashboardcomposites.ContactsDashboardComposite"
           weight="30">
        <types>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
     </dashboardContribution>
  </extension>
<!--  <extension
        id="com.ibm.socialcrm.notesintegration.emailToolbarIcon"
        name="Email Toolbar Icon"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarIconContribution">
     <toolbarIconContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.EmailDashboardToolbarAction"
           disabledIcon="icons/tb_16_newmemo_d.png"
           enabledIcon="icons/tb_16_newmemo_n.png"
           weight="10">
        <types>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>
           <dashboard
                 id="com.ibm.sfa.contactInfoDashboardContribution">
           </dashboard>
           <dashboard
                 id="com.ibm.sfa.sametimeViewDashboardContribution">
           </dashboard>
        </dashboards>
     </toolbarIconContribution>
  </extension>
  -->
   
   
   <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.editcontact"
        name="Edit Contact"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.edit"
           weight="09">
        <types>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  
  
    <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewclienthierarchy"
        name="View Client Hierarchy"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="09">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewclientibmspend"
        name="View Client IBM Spend"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="10">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewinstallbase"
        name="View Install Base"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="11">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewcontacts"
        name="View Contacts"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="12">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="1.separator"
        name="separator"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="13">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewpredictivebuyinganalytics"
        name="View Predictive Buying Analytics"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="14">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewclienttouchpoints"
        name="View Client Touch Points"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="15">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewcomplaintsandpmrs"
        name="View Complaints and PMRs"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="16">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  
  <!-- Sugar not ready for 0.5 release.
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewnews"
        name="View News"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="17">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  -->
  
  
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.viewintelligence"
        name="View Intelligence"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="18">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="2.separator"
        name="separator"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="19">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
   
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.openinsugar"
        name="Open in Sugar"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.ViewInSugar"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="20">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
           <type
                 sugarType="OPPORTUNITIES">
           </type>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>        
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
 
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.opencalllog"
        name="Open Call Log"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.OpenCallLog"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="40">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
           <type
                 sugarType="OPPORTUNITIES">
           </type>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.associatedocument"
        name="Associate Document"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.AssociateDocumentAction"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="50">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
           <type
                 sugarType="OPPORTUNITIES">
           </type>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.createmeeting"
        name="Create Meeting"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.CreateMeetingAction"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="60">
        <types>
           <type
                 sugarType="ACCOUNTS">
           </type>
           <type
                 sugarType="OPPORTUNITIES">
           </type>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>
  
  <extension
        id="com.ibm.socialcrm.notesintegration.dashboardmenuitem.downloadcontactinfo"
        name="Download Contact Info"
        point="com.ibm.socialcrm.notesintegration.core.dashboardToolbarMenuItemContribution">
     <toolbarMenuItemContribution
           actionClass="com.ibm.socialcrm.notesintegration.ui.actions.DownloadContactInfo"
           categoryId="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
           weight="70">
        <types>
           <type
                 sugarType="CONTACTS">
           </type>
        </types>
        <dashboards>
           <dashboard
                 id="ALL_DASHBOARDS">
           </dashboard>
        </dashboards>
     </toolbarMenuItemContribution>
  </extension>  
  
  <extension
        id="com.ibm.socialcrm.notesintegration.core.menuItemCategories.edit"
        name="Edit Actions"
        point="com.ibm.socialcrm.notesintegration.core.menuItemCategories">
     <objectContribution
           weight="15">
     </objectContribution>
  </extension>
  
  <extension
        id="com.ibm.socialcrm.notesintegration.core.menuItemCategories.base"
        name="Base Items"
        point="com.ibm.socialcrm.notesintegration.core.menuItemCategories">
     <objectContribution
           weight="20">
     </objectContribution>
  </extension>
   
  <extension
        point="org.eclipse.ui.startup">
     <startup></startup>
  </extension>
  <!--
  <extension
        id="CallLoggingView"
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           category="com.ibm.socialcrm.notesintegration.sidebar"
           class="com.ibm.socialcrm.notesintegration.ui.views.CallLogView"
           icon="icons/phone_icon.png"
           id="com.ibm.socialcrm.notesintegration.ui.CallLoggingView"
           name="Log Call"
           restorable="true">
     </view>
     <view
           allowMultiple="true"
           class="com.ibm.socialcrm.notesintegration.ui.views.NoSugarEntryViewPart"
           icon="icons/SalesConnect_16.png"
           id="com.ibm.socialcrm.notesintegration.ui.view.noSugarEntryViewPart"
           name="No Sugar Entry"
           restorable="true">
     </view>
  </extension>
  <extension
        point="com.ibm.rcp.ui.shelfViews">
     <shelfView
           id="com.ibm.socialcrm.notesintegration.ui.CallLoggingShelfView"
           region="TOP"
           showTitle="true"
           view="com.ibm.socialcrm.notesintegration.ui.CallLoggingView">
     </shelfView>
  </extension>
  
  -->
  
    <extension
        id="NoSugarEntryView"
        point="org.eclipse.ui.views">  
     <view
           allowMultiple="true"
           class="com.ibm.socialcrm.notesintegration.ui.views.NoSugarEntryViewPart"
           icon="icons/SalesConnect_16.png"
           id="com.ibm.socialcrm.notesintegration.ui.view.noSugarEntryViewPart"
           name="No Sugar Entry"
           restorable="true">
     </view>
  </extension>
  
  
  <extension
        point="com.ibm.rcp.search.engines.searchEngines">
     <searchEngine
           engine="com.ibm.socialcrm.notesintegration.ui.search.SugarSearchEngineDelegate"
           global="true"
           hasResults="true"
           icon="icons/SalesConnect_16.png"
           id="com.ibm.socialcrm.notesintegration.ui.sugarSearch"
           label="SalesConnect"
           type="other">
     </searchEngine>
  </extension>
  <extension
        point="com.ibm.rcp.search.ui.searchBarSets">
     <searchBarSet
           id="com.ibm.socialcrm.notesintegration.ui.sugarSearchBarSet"
           label="com.ibm.socialcrm.notesintegration.ui.sugarSearchBarSet"
           visible="true">
        <searchBarItem
              engineID="com.ibm.socialcrm.notesintegration.ui.sugarSearch"
              id="com.ibm.socialcrm.notesintegration.ui.sugarSearchBarItem">
        </searchBarItem>
     </searchBarSet>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="com.ibm.socialcrm.notesintegration.ui.perspectives.AccountPerspectiveFactory"
           fixed="true"
           icon="icons/account.gif"
           id="com.ibm.socialcrm.notesintegration.ui.accountPerspective"
           name="Account Perspective">
     </perspective>
     <perspective
           class="com.ibm.socialcrm.notesintegration.ui.perspectives.ContactPerspectiveFactory"
           fixed="true"
           icon="icons/contact.gif"
           id="com.ibm.socialcrm.notesintegration.ui.contactPerspective"
           name="Contact Perspective">
     </perspective>
     <perspective
           class="com.ibm.socialcrm.notesintegration.ui.perspectives.OpportunityPerspectiveFactory"
           fixed="true"
           icon="icons/opportunity.gif"
           id="com.ibm.socialcrm.notesintegration.ui.opportunityPerspective"
           name="Opportunity Perspective">
     </perspective>
          <perspective
           class="com.ibm.socialcrm.notesintegration.ui.perspectives.NoSugarEntryPerspectiveFactory"
           fixed="true"
           icon="icons/SalesConnect_16.png"
           id="com.ibm.socialcrm.notesintegration.ui.noSugarEntryPerspective"
           name="No Sugar Entry Perspective">
     </perspective>
  </extension>
  
  
  
  
  <extension
        point="com.ibm.rcp.personality.framework.personalities">
     <personality
           allowMultipleWindows="true"
           factory="com.ibm.socialcrm.notesintegration.ui.personalities.SFANonModalWindowAdvisorFactory"
           id="com.ibm.socialcrm.notesintegration.ui.nonModalDialogPersonality"
           name="SalesConnectModalPersonality">
     </personality>
  </extension>
  
  
</plugin>
